/*** 960 layout, will override other two layouts ***/ 
/* use individual media queries if a wider breakpoint is needed for any item */


body {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;  
}

  body {background: url(images/map-1300.jpg) no-repeat center bottom fixed;}


@media only screen 
and (min-width: 1200px) {
  body {background: url(images/map-1600.jpg) no-repeat center bottom fixed;}
}

@media only screen 
and (min-width: 1620px) {
  body {background: url(images/map-full.jpg) no-repeat center bottom fixed;}
}

/*#########################################################
### Header Section 
#########################################################*/

/**************************************************
*** Header Zone
**************************************************/
#zone-header-wrapper {
  background: url(images/header-960.png) no-repeat center top;
  min-height: 440px;
}
.region-preface-first { /* sessions sign */
  margin-top: -235px;
}
.region-header-second { /* location sign */
  margin-top: 340px;
}
.region-header-third { /* about sign */
  margin-top: 347px;
}
.region-header-fourth{ /* sponsors sign */
  margin-top: 290px;
}



/**************************************************
*** Menu Zone
**************************************************/
#region-menu li{
  font-size: 85%;
  padding: 0 9px 0 10px;
}
#main-menu li.first {
  padding-left: 11px;
  border-left: 1px solid #fff;
}
#secondary-menu li.first {
  padding-left: 4px;
}


/*#########################################################
### Content Section 
#########################################################*/
/*
#section-content {
  background: #fefefe url(images/map-2600.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
*/


/*


*/







/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 600px; margin-top: -10px;}













