/*** 720px layout + default for all but mobile layout ***/

/*#########################################################
### Header Section 
#########################################################*/
/**************************************************
*** Header Zone
**************************************************/

#zone-header-wrapper {
  background: url(images/header-720.png) no-repeat center top;
  min-height: 320px;
}
#zone-header {margin-top: -300px;}

.region-preface-first { /* sessions sign */
  margin-top: 160px;
}
.region-header-second { /* location sign */
  margin-top: 245px;
}
.region-header-third { /* about sign */
  margin-top: 260px;
}
.region-header-fourth { /* sponsors sign */
  margin-top: 215px;
}
.region-preface-first img,
.region-header-second img,
.region-header-third img,
.region-header-fourth img {
  width: 100%;
}
.region-preface-first img:hover,
.region-header-second img:hover,
.region-header-third img:hover,
.region-header-fourth img:hover { 
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}
.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: block;
}


/*#########################################################
### Content Section 
#########################################################*/
#section-content {background: #fefefe url(images/map-1000.jpg) no-repeat center bottom;}

/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 400px; margin-top: -5px;}






