/*** 720px layout + default for all but mobile layout ***/

body {background: url(images/map-1000.jpg) no-repeat center bottom fixed;}


/*#########################################################
### Header Section 
#########################################################*/
/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	font-size: 400%;
	margin: 60px 0 0 45px;
}
#zone-header-wrapper {
  background: url(images/header-720.png) no-repeat center top;
  min-height: 330px;
  margin-top: -113px;
}
#zone-header { margin-top: 10px; }

.region-preface-first { /* sessions sign */
  margin-top: -165px;
  width: 100%;
}
.region-header-second { /* location sign */
  margin-top: 260px;
  z-index: 10;
}
.region-header-third { /* about sign */
  margin-top: 272px;
}
.region-header-fourth { /* sponsors sign */
  margin-top: 225px;
}
.region-preface-first img,
.region-header-second img,
.region-header-third img,
.region-header-fourth img {
  width: 100%;
}
.region-preface-first img:hover,
.region-header-second img:hover,
.region-header-third img:hover,
.region-header-fourth img:hover { 
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}
.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: block;
}

/*#########################################################
### Content Section 
#########################################################*/
/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 400px;}

.region-sidebar-second-inner {
	padding: 20px 10px 20px 0;
}

#section-content {

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuOTciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.97) 3%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(3%,rgba(255,255,255,0.97)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 3%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 3%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 3%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.97) 3%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
background: fixed;

}

