/*** 960 layout, will override other two layouts ***/ 
/* use individual media queries if a wider breakpoint is needed for any item */

/*#########################################################
### Header Section 
#########################################################*/

/**************************************************
*** Menu Zone
**************************************************/

.region-menu-inner {
  text-align: center;
  padding-right: 40px;
}

/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	font-size: 490%;
	margin: 40px 0 0 105px;
}
#zone-header-wrapper {
  background: url(images/header-960.png) no-repeat center top;
  min-height: 440px;
  margin-top: -140px;
}
.region-preface-first { /* sessions sign */
  margin-top: -235px;
}
.region-header-second { /* location sign */
  margin-top: 340px;
}
.region-header-third { /* about sign */
  margin-top: 347px;
}
.region-header-fourth{ /* sponsors sign */
  margin-top: 290px;
}

/* adjusted for various browsers */
.ff .region-header-second,
.ie .region-header-second,
.opera .region-header-second,
.chrome22 .region-header-second,
.chrome23 .region-header-second { /* location sign */
  margin-top: 205px;
  z-index: 10;
}
.ff .region-header-third,
.ie .region-header-third,
.opera .region-header-third,
.chrome22 .region-header-third,
.chrome23 .region-header-third { /* about sign */
  margin-top: 215px;
}
.ff .region-header-fourth,
.ie .region-header-fourth,
.opera .region-header-fourth,
.chrome22 .region-header-fourth,
.chrome23 .region-header-fourth { /* sponsors sign */
  margin-top: 160px;
}

/*#########################################################
### Content Section 
#########################################################*/

#section-content {
  background: url(images/background-960.png) repeat-y center center;
}

/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 600px; margin-top: -10px;}


/**************************************************
*** staff page
**************************************************/

.view-id-attendees.view-display-id-page_2 .user-picture img {
  width: 100px;
  height: auto;
}


/**************************************************
*** sessions pages
**************************************************/

.view-id-sessions td {
  padding:10px;
}

.view-id-sessions td.views-field.views-field-picture {
  font-size: 100%;
}

.view-id-sessions .sticky-table {
  font-size: 100%;
}








