/*** 720px layout + default for all but mobile layout ***/

body {background: url(images/map-1000.jpg) no-repeat center bottom fixed;}


/*#########################################################
### Header Section 
#########################################################*/
/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	font-size: 400%;
	margin: 60px 0 0 50px;
}
#zone-header-wrapper {
  background: url(images/header-720.png) no-repeat center top;
  min-height: 330px;
  margin-top: -113px;
}
#zone-header { margin-top: 10px; }

.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: block;
}
.region-preface-first img,
.region-header-second img,
.region-header-third img,
.region-header-fourth img {
  width: 100%;
}
.region-preface-first img:hover,
.region-header-second img:hover,
.region-header-third img:hover,
.region-header-fourth img:hover { 
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}

.region-preface-first { /* sessions sign */
  margin-top: -165px;
  width: 100%;
}
.region-header-second { /* location sign */
  margin-top: 260px;
  z-index: 10;
}
.region-header-third { /* about sign */
  margin-top: 272px;
}
.region-header-fourth { /* sponsors sign */
  margin-top: 225px;
}

/* adjusted for firefox */
.ff .region-header-second { /* location sign */
  margin-top: 160px;
  z-index: 10;
}
.ff .region-header-third { /* about sign */
  margin-top: 172px;
}
.ff .region-header-fourth { /* sponsors sign */
  margin-top: 125px;
}

/*#########################################################
### Content Section 
#########################################################*/
/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 400px;}

.region-sidebar-second-inner {
	padding: 20px 10px 20px 0;
}

