/*** 720px layout + default for all but mobile layout ***/

/*#########################################################
### Header Section 
#########################################################*/

/**************************************************
*** Menu Zone
**************************************************/

.region-menu-inner {
  text-align: center;
  padding-right: 20px;
}


/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	font-size: 400%;
	margin: 40px 0 0 50px;
}
#zone-header-wrapper {
  background: url(images/header-720.png) no-repeat center top;
  min-height: 330px;
  margin-top: -113px;
}
#zone-header { margin-top: 10px; }

.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: block;
}
.region-preface-first img,
.region-header-second img,
.region-header-third img,
.region-header-fourth img {
  width: 100%;
}
.region-preface-first img:hover,
.region-header-second img:hover,
.region-header-third img:hover,
.region-header-fourth img:hover { 
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}

.region-preface-first { /* sessions sign */
  margin-top: -165px;
  width: 100%;
}
.region-header-second { /* location sign */
  margin-top: 260px;
  z-index: 10;
}
.region-header-third { /* about sign */
  margin-top: 272px;
}
.region-header-fourth { /* sponsors sign */
  margin-top: 225px;
}

/* adjusted for various browsers */
.ff .region-header-second,
.ie .region-header-second,
.opera .region-header-second,
.chrome22 .region-header-second,
.chrome23 .region-header-second { /* location sign */
  margin-top: 160px;
  z-index: 10;
}
.ff .region-header-third,
.ie .region-header-third,
.opera .region-header-third,
.chrome22 .region-header-third,
.chrome23 .region-header-third  { /* about sign */
  margin-top: 172px;
}
.ff .region-header-fourth,
.ie .region-header-fourth,
.opera .region-header-fourth,
.chrome22 .region-header-fourth,
.chrome23 .region-header-fourth { /* sponsors sign */
  margin-top: 125px;
}

/*#########################################################
### Content Section 
#########################################################*/

#section-content {
  background: url(images/background-720.png) repeat-y center center;
}

/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 400px;}

.region-sidebar-second-inner {
	padding: 20px 10px 20px 0;
}

.not-front .region-content-inner .block-without-title {
	padding: 15px;
}



#block-views-commerce-cart-block-block-1 .line-item-summary-checkout  {
  float: right;
  margin-bottom: 5px;
}

#block-views-commerce-cart-block-block-1 .line-item-summary-view-cart  {
  margin-right: 0;
  float: right;
  margin-bottom: 15px;
}



/**************************************************
*** sessions pages
**************************************************/

.view-id-sessions .sticky-table {
  font-size: 85%;
}
