/*** mobile first layout + global styles ***/


/**************************************************
*** text and body
**************************************************/
body {
  font-family: "expressway",sans-serif;
  font-size: 100%;
  letter-spacing: .07em;
  word-wrap: break-word;
}

dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}
p {
  margin-bottom: 15px;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "expressway", sans-serif;
  color: #000;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h1 {
  font-size: 230%;
  font-weight: 700;
}
h2 {
  font-size: 180%;
  color: #000;
  font-weight: 800;
}
h3 {
  font-size: 170%;
}
h4 {
  font-size: 115%;
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #000;
}
p {
  font-size: 100%;
}
a,
a:link,
a:visited {
/*   color: #1aa75d; */
  color: #b00;
  text-decoration: none;
}
a:hover {text-decoration: underline;}

h2.block-title {
  color: #fff;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

h2.node-title {
  font-size: 200%;
  font-weight: 800;
  color: #000;
}

h2.node-title a {
  color: #000;
}

h2.node-title a:hover {
  color: #b00;
  text-decoration: none;
}


h1#page-title {
  font-size: 260%;
  color: #fff;
  padding: 0 0 10px 10px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.tabs {
  padding: 10px 0 30px 0;
}

#messages .messages {
  border-radius: 15px;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
}

/**************************************************
*** tables
**************************************************/
table {
  border: 1px solid #CCC;
  width: 100%;
  font-size: 95%;
}
thead th, th {
  background: #1aa75d;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
th, td {
  padding: 5px;
  vertical-align: top;
}
th a, th a:link, th a:visited {
  text-decoration: none;
}
th a {
  display: block;
}
th a img {
  margin: 0 0 0 5px;
}
th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
tr.even td {
  background: #efefef;
}
tr.odd td {
  background: #fff;
}
td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
tr.even td.active {
  background: #e7e7e7;
}
tr.odd td.active {
  background: #e7e7e7;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #efffef;
}
td ul.links {
  margin-bottom: 0;
}

/**************************************************
*** buttons
**************************************************/
#edit-preview,
#edit-reset,
#edit-submit,
#edit-preview-changes,
#edit-delete,
.form-submit,
input.form-submit,
.node-readmore,
#block-views-commerce-cart-block-block-1 .line-item-summary li a {
  background: #1aa75d;
  font-size: 70%;
  text-transform: uppercase;
  text-shadow: none;
  margin-top: 20px;
  padding: 6px 10px 5px 10px;
  display: inline;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#edit-checkout:hover,
#edit-preview:hover,
#edit-reset:hover,
#edit-preview-changes:hover,
#edit-delete:hover,
#edit-reset:hover,
#edit-submit:hover,
.form-submit:hover,
input.form-submit:hover,
.node-readmore:hover,
#block-views-commerce-cart-block-block-1 .line-item-summary li a:hover  {
  text-decoration: none;
  background: #179151;
}
#edit-checkout:active,
#edit-preview:active,
#edit-reset:active,
#edit-preview-changes:active,
#edit-delete:active,
#edit-reset:active,
#edit-submit:active,
.form-submit:active,
input.form-submit:active,
.node-readmore:active {
  background: #147b45;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
  box-shadow: 0px 1px 1px #999 inset;
}

.checkout-buttons .form-submit {
  margin-top: 0px;
  margin-right: 10px;
}

.form-actions a {
  vertical-align: bottom;
}

/**************************************************
*** pagers
**************************************************/
.item-list .pager {margin: 20px 20px 10px 0;}

.item-list .pager li,
.item-list .pager ul li,
.item-list .pager li.pager-current {
  display: inline-block;
  margin: 3px;
  padding: 0px;
}
.item-list .pager li.pager-ellipsis,
.item-list .pager li.pager-current,
.item-list .pager li a {
	font-weight: 600;
}
.item-list .pager li a,
.item-list .pager ul li a,
.item-list .pager li.pager-current {
	font-size: 82%;
	text-transform: uppercase;
    padding: 3px 8px;
    background: #efefef url(images/button.png) repeat-x bottom;
    color: #000;
    font-weight: 600;
    border-top: 1px solid #bbb;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #bbb;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.item-list .pager li a:hover {
	background-position: 0 -48px;
	text-decoration: none;
}
.item-list .pager li a:active {
	background-position: 0 top;
    position: relative;
    border: #777 solid 1px;
    background: #eee url(images/button.png) repeat-x bottom;   
 	-webkit-box-shadow: 0px 1px 1px #999 inset;  
 	-moz-box-shadow: 0px 1px 1px #999 inset;  
 	box-shadow: 0px 1px 1px #999 inset;
}
.item-list .pager li.pager-current {
	color: #fff;
	background: #1aa75d url(images/button.png) repeat-x bottom;
	border: 1px solid #1aa75d;
	padding: 1px 8px 0 8px;
}

/*#########################################################
### Header Section 
#########################################################*/
#section-header {
  line-height: 120%;
}

/**************************************************
*** Menu Zone
**************************************************/
#zone-menu-wrapper {
  background: #000; 
  color: #fff;
  min-height: 35px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, .5);
}
#region-menu {padding: 5px 5% 5px 0;}

#region-menu li {
  text-transform: uppercase;
  font-size: 80%;
  margin: 5px 0;
  display: inline-block;
}
#region-menu li a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 4px 7px;
  background: #444;
  border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  width: 100px;
}
#region-menu li a:hover {
  background: #666;
}
.region-menu-inner {
  text-align: center;
}

/**************************************************
*** User Zone
**************************************************/
#zone-user-wrapper {
  color: #fff;
  min-height: 35px;
}
#region-user {padding: 5px 5% 5px 0;}

#region-user .block-menu {
  display: inline-block;
  margin-right: 5px;
}

#region-user ul {
  text-align: center;
}

#region-user li {
  text-transform: uppercase;
  font-size: 80%;
  margin: 5px 0;
  display: inline-block;
}

#region-user li a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 4px 7px;
  background-color: #1AA75D;
  border-radius: 7px;
  -moz-border-radius: 7px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  display: inline-block;
}

#region-user li a.user-menu-twitter {
  text-indent: -9999px;
  width: 15px;
  background: url(images/twitter-bird.png) no-repeat center center #138FFF;
}

#region-user li a.user-menu-twitter:hover {
  background: url(images/twitter-bird.png) no-repeat center center #107EE0;
}

#region-user li a.user-menu-rss {
  text-indent: -9999px;
  width: 15px;
  background: url(images/rss-icon.png) no-repeat center center #f97e3a;
}

#region-user li a.user-menu-rss:hover {
  background: url(images/rss-icon.png) no-repeat center center #EB7737;
}

#region-user li a.user-menu-register {
  background-color: #CF1520;
}

#region-user li a.user-menu-register:hover {
  background-color: #B3121C;
}

#region-user li a:hover {
  background: #179151;
}

.region-user-inner {
  text-align: center;
}

/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	color: #fff;
	text-transform: uppercase;
	font-stretch: narrower;
	font-size: 175%;
	z-index: 99;
	margin: 25px 0 0 15px;
}
#logo-text a {
	color: #fff;
	text-decoration: none;
}
#zone-header-wrapper {
  min-height: 110px; 
  background: url(images/header-mobile-320.png) no-repeat center top;
  margin-top: -55px;
}

@media only screen 
and (min-width : 321px) {
   #logo-text {
	color: #fff;
	text-transform: uppercase;
	font-stretch: narrower;
	z-index: 99;
	margin: 25px 0 0 14%;
  }
}
@media only screen 
and (min-width : 400px) {
   #logo-text {margin: 25px 0 0 18%;}
}
@media only screen 
and (min-width : 450px) {
   #zone-header-wrapper {
     min-height: 165px; background: url(images/header-mobile-480.png) no-repeat center top;
     margin-top: -82px;  
   }
   #logo-text {
	color: #fff;
	text-transform: uppercase;
	font-stretch: narrower;
	font-size: 260%;
	z-index: 99;
	margin: 35px 0 0 7%;
  }
}
@media only screen 
and (min-width : 510px) {
   #logo-text {margin: 35px 0 0 10%;}
}
@media only screen 
and (min-width : 530px) {
   #logo-text {margin: 35px 0 0 13%;}
}
@media only screen 
and (min-width : 570px) {
   #logo-text {margin: 35px 0 0 15%;}
}
@media only screen 
and (min-width : 600px) {
   #logo-text {margin: 35px 0 0 17%;}
}
@media only screen 
and (min-width : 630px) {
   #logo-text {margin: 35px 0 0 20%;}
}
@media only screen 
and (min-width : 700px) {
   #logo-text {margin: 35px 0 0 22%;}
}

.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: none;
}

/*#########################################################
### Content Section 
#########################################################*/

#section-content {
  background: url(images/background-320.png) repeat-y center center;
}

@media only screen 
and (min-width : 450px) {
  #section-content {
    background: url(images/background-480.png) repeat-y center center;
  }
}

table.views-matrix {
  border: 0;
}

table.views-matrix tbody tr th.views-matrix-row-header {
  text-align: right;
  vertical-align: middle;
  background: #FFFFFF;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 0;
}
table.views-matrix thead tr th.views-matrix-col-header {
  text-align: center;
  background: #FFFFFF;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
table.views-matrix thead tr th.views-matrix-col-first {
  border: 0;
  background: #FFFFFF;
}

table.views-matrix tbody tr {
  border: 0;
}

table.views-matrix tbody tr td.odd,
table.views-matrix tbody tr td.even {
  background: #FFFFFF;
  border: 0;
}

table.views-matrix tbody tr td.views-matrix-empty {
  background: #d0d0d0;
}

/**************************************************
*** Content Zone
**************************************************/

#zone-content {
  line-height: 120%;
}
.zone-content {
  color: #000;
  background: #1aa75d;
  border: 5px solid #fff;
  border-radius: 24px;
  -moz-border-radius: 20px;
  padding: 0;
  box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.5);
  position: relative;
  z-index: 10;
}
.region-content-inner, 
.region-second-level-menu-inner,
.region-sidebar-first-inner,
.region-sidebar-second-inner {
	padding: 20px 10px 0 10px;
}

.region-sidebar-second-inner table {
  color: #000;
}

.region-sidebar-second a.register-now {
  background: url(images/register-red.png);
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  display: block;
  text-indent: -9999px;
  height: 161px;
  width: 290px;
  margin-bottom:30px;
}

.responsive-layout-narrow .region-sidebar-second a.register-now {
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  height: 116px;
  width: 210px;
  background-size: 210px 232px;
}

.region-sidebar-second a.register-now:hover {
  background-position: 0 -161px;
}

.responsive-layout-narrow .region-sidebar-second a.register-now:hover {
  background-position: 0 -116px;
}

.not-front .region-content-inner #content-and-tabs {
	border-radius: 15px;
	margin: 0 0 20px 0;
	background: #fff;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  position: relative;
}

.not-front .region-content-inner #content-and-tabs .secondary {
  margin-top: 10px;
}
.not-front .region-content-inner .tabs {
  border: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.not-front .region-content-inner .tabs .primary li a {
  border-radius: 6px 6px 0 0;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  padding-top: 2px;
  padding-bottom: 3px;
}

.not-front .region-content-inner .block-without-title {
  margin-top: 3px;
  position: relative;
  padding: 15px;
}

#block-views-tweets-block,
#block-user-login,
#block-system-user-menu,
#block-views-commerce-cart-block-block-1 {
  padding: 15px 15px 5px 15px;
  border-radius: 15px;
  margin-bottom: 30px;
  background: #222;
  color: #fff;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
#block-views-tweets-block .views-row {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
#block-views-tweets-block h2 {
  color: #fff;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#block-views-tweets-block ul li {
  margin: 0;
}
.tweet-text {font-size: 90%; margin-bottom: 5px;}

.tweet-time {font-size: 83%; letter-spacing: .02em;}

#block-views-commerce-cart-block-block-1 table {
  font-size: 90%;
  line-height: 100%;  
}

#region-second-level-menu {margin-top: 5px; margin-bottom: 5px;}

#region-second-level-menu ul li {
  text-transform: uppercase;
  font-size: 102%;
  font-weight: 800;
  margin: 5px 5px 0 0;
  display: inline;
}

#region-second-level-menu ul li a {
  color: #000;
  background: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  display: block;
}

#region-second-level-menu li .active {
  color: #fff;
  background: #000;
  text-decoration: none;
}

#region-second-level-menu li a:hover {
  color: #fff;
  background: #222;
  text-decoration: none;
}

#page {
	position: relative;
}

.page-user .user-picture img {
  border-radius: 15px;
  padding: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background: #fff;
}

/**************************************************
*** Postscript Zone
**************************************************/
#zone-postscript {margin: 40px auto;}
.zone-postscript {
  color: #fff;
  background: #004FA8;
  border: 5px solid #fff;
  border-radius: 24px;
  padding: 0; /* add padding on region inners */
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

/**************************************************
*** Footer Zone
**************************************************/
#zone-footer-wrapper {
  background: #000; 
  color: #fff;
  margin: 0;
}
#zone-footer {min-height: 40px;}
#region-footer-first {padding: 10px 0;}

/**************************************************
*** Node Specific
**************************************************/
.front .node-promoted.node-not-sticky {
	padding: 20px;
	border-radius: 15px;
	margin: 10px 0 30px 0;
	background: #fff;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
.front .node-promoted.node-sticky {
	background: #eee;
	padding: 15px;
	border-radius: 15px;
	margin: 0 0 30px 0;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
.node-readmore {
  color: #fff;
  float: right;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
}
.node-readmore a {
  font-size: 110%;
  color: #fff;
  text-decoration: none;
  padding: 4px 10px;
  display: block;
  
}

.node-links {margin-top: 20px;}

.node-links ul.inline li {
  padding: 0;
  margin: 0;
}
.node-news .submitted {margin: 20px 0 10px 0;}

.node .field-item {
  display: block;
}

/**************************************************
*** Shopping Cart Page
**************************************************/

.line-item-quantity {margin-left: 5px;}

.line-item-total {margin-bottom: 20px;}

.view-id-commerce_cart_form {margin-top: 20px;}




/**************************************************
*** sponsors postscript and page view
**************************************************/

.view-Sponsors .view-content .views-row img {
  vertical-align: middle;
}

.view-Sponsors .view-content .views-row {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 30px 0;
}

@media only screen 
and (min-width : 510px) {
  .sponsors-page .view-content .views-row {
    width: 48%;
  }
}

.view-Sponsors .views-row.views-row-last {
	margin-bottom: 0px;
}

.view-id-Sponsors.view-display-id-page_1 h3 {margin: 40px 0 10px 0;}

.view-id-sponsorship_benefits table {border: none;}

.view-id-sponsorship_benefits tr.even td,
.view-id-sponsorship_benefits tr.even td:hover,
.view-id-sponsorship_benefits tr.odd td,
.view-id-sponsorship_benefits tr.odd td:hover,
.view-id-sponsorship_benefits td,
.view-id-sponsorship_benefits tr,
.view-id-sponsorship_benefits td:hover,
.view-id-sponsorship_benefits tr:hover td {
  background: none;
}

.view-id-sponsorship_benefits .col-1 {
  padding-right: 40px;
}

.view-id-sponsorship_benefits .col-2 {
  padding: 0 20px;
}

.view-id-sponsorship_benefits tr td{
  padding-bottom: 40px;
}

.view-id-sponsorship_benefits tr.row-last td {
  padding-bottom: 0;
}

.view-id-sponsorship_benefits .commerce-add-to-cart {margin: 2px 0 20px 0;}

.view-id-sponsorship_benefits table li {
	list-style-position: outside;
	margin-left: 20px;
}

.view-id-sponsorship_benefits table li p {
  margin-bottom: 5px;
  line-height: 110%;
}


.region-postscript-first-inner {
  text-align: center;
}

.region-postscript-first-inner h2 {
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); 
}

.responsive-layout-narrow .region-postscript-first-inner h2 {
  font-size: 20px;
}


.region-postscript-first-inner .views-field-field-logo .field-content {
  padding: 15px 0;
  border-radius: 10px;
  border: 3px solid #fff;
  background: #fff;
  height: 120px;
  width: 240px;
  line-height: 120px;
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, .5);
}

.responsive-layout-narrow .region-postscript-first-inner .views-field-field-logo .field-content {
  padding: 5px 0;
  width: 150px;
  line-height: 116px;
}

.region-postscript-first-inner .views-field-field-logo .field-content img {
  text-align: center;
  vertical-align: middle;
  height: auto;
  width: auto;
}

.responsive-layout-narrow .region-postscript-first-inner .views-field-field-logo .field-content img {
  max-height: 100px;
  max-width: 130px;
}

.region-postscript-first-inner .block-sponsors-block-2,
.region-postscript-first-inner .block-sponsors-block-3,
.region-postscript-first-inner .block-sponsors-block-4,
.region-postscript-first-inner .block-sponsors-block-6 {
  display: inline-block;
  margin: 30px;
}

/**************************************************
*** staff page
**************************************************/

.view-id-attendees.view-display-id-page_2 table  {
	width: 100%;
}

.view-id-attendees.view-display-id-page_2 table td {
	padding: 5px;
}

.view-id-attendees.view-display-id-page_2 .user-picture img {
  width: 76px;
  height: auto;
}






/**************************************************
*** sessions pages
**************************************************/

.view-id-sessions {

}

.view-id-sessions li {
	list-style-type: none;	
}

.view-id-sessions td {
  padding:5px;
}

.view-id-sessions td.views-field.views-field-picture {
  font-size: 95%;
}

.view-id-sessions .sticky-table {
  width: 100%;
}

.view-id-sessions .views-field.views-field-picture {
  max-width: 100px
}

.views-id-sessions h3 {
  text-transform: none;
}

.view-cod-schedule .views-row-odd {
  background-color: #EFEFEF;
}
.view-cod-schedule .views-row-even {
  background-color: #CFCFCF;
}
.view-cod-schedule .views-row {
  padding: 5px;
}
.view-cod-schedule .view-content h3 {
  margin: 0;
  border-bottom: 1px solid #000000;
}
.view-cod-schedule .views-row-last {
  margin-bottom: 10px;
}
/* Room title */
.view-cod-schedule .views-field-title-1 a {
  text-decoration: underline;
  color: #000000;
}
/* Session title, experience, speakers */
.view-cod-schedule .views-field-title div,
.view-cod-schedule .views-field-field-experience, 
.view-cod-schedule .views-field-field-speakers {
  margin: 2.5px 25%;
}
.view-cod-schedule .views-field-field-experience div {
  display: inline-block;
}

