/*** mobile first layout + global styles ***/

/**************************************************
*** text and body
**************************************************/
html {}

body {
  font-family: "expressway",sans-serif;
  font-size: 100%;
  line-height: 120%;
  letter-spacing: .07em;
  background: #fff;
}
dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "expressway",sans-serif;
  color: #000;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: .07em;
}
h1 {font-size: 230%;}
h2 {
  font-size: 180%;
  color: #666;  
}
h3 {
  font-size: 160%;
  margin-top: 30px;
}
h4 {
  font-size: 120%;
	margin-top: 5px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #555;
}
p {
  font-size: 100%;
}
a,
a:link,
a:visited {
  color: #1aa75d;
  font-weight: 600;
  text-decoration: none;
}
a:hover {text-decoration: underline;}

h2.block-title {
  color: #000;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2.node-title {
  font-size: 200%;
  font-weight: 800;
/*   text-transform: uppercase; */
}


h2.node-title a:hover {
  color: #111;
  text-decoration: none;
  
}

h1#page-title {
 font-size: 230%;

}



.tabs {
  padding: 10px 0 30px 0;
}


/**************************************************
*** tables
**************************************************/

table {
  border: 1px solid #CCC;
  width: 100%;
  font-size: 95%;
}

thead th, th {
  background: #1aa75d;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

th, td {
  padding: 5px;
  vertical-align: top;
}

th a, th a:link, th a:visited {
  text-decoration: none;
}

th a {
  display: block;
}

th a img {
  margin: 0 0 0 5px;
}

th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td {
  background: #efefef;
}

tr.odd td {
  background: #fff;
}

td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td.active {
  background: #e7e7e7;
}

tr.odd td.active {
  background: #e7e7e7;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #efffef;
}

td ul.links {
  margin-bottom: 0;
}



/**************************************************
*** buttons
**************************************************/


#edit-submit, #edit-checkout {margin-top: 20px;}

#edit-reset,
#edit-submit,
.form-submit,
input.form-submit {
  background: #1aa75d;
  font-size: 70%;
  text-transform: uppercase;
  text-shadow: none;
  padding: 4px 7px;
  display: inline;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#edit-reset:hover,
#edit-submit:hover,
.form-submit:hover,
input.form-submit:hover {
  text-decoration: none;
  background: #179151;
}
#edit-reset:active,
#edit-submit:active,
.form-submit:active,
input.form-submit:active {
  background: #147b45;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
  box-shadow: 0px 1px 1px #999 inset;
}

/**************************************************
*** pagers
**************************************************/
.item-list .pager {margin: 20px 20px 10px 0;}

.item-list .pager li,
.item-list .pager ul li,
.item-list .pager li.pager-current {
  display: inline-block;
  margin: 3px;
  padding: 0px;
}

.item-list .pager li.pager-ellipsis,
.item-list .pager li.pager-current,
.item-list .pager li a {
	font-weight: 600;
}

.item-list .pager li a,
.item-list .pager ul li a,
.item-list .pager li.pager-current {
	font-size: 82%;
	text-transform: uppercase;
    padding: 3px 8px;
    background: #efefef url(images/button.png) repeat-x bottom;
    color: #000;
    font-weight: 600;
    border-top: 1px solid #bbb;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #bbb;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.item-list .pager li a:hover {
	background-position: 0 -48px;
	text-decoration: none;
}

.item-list .pager li a:active {
	background-position: 0 top;
    position: relative;
    border: #777 solid 1px;
    background: #eee url(images/button.png) repeat-x bottom;   
 	-webkit-box-shadow: 0px 1px 1px #999 inset;  
 	-moz-box-shadow: 0px 1px 1px #999 inset;  
 	box-shadow: 0px 1px 1px #999 inset;
}

.item-list .pager li.pager-current {
	color: #fff;
	background: #1aa75d url(images/button.png) repeat-x bottom;
	border: 1px solid #1aa75d;
	padding: 1px 8px 0 8px;
}



/*#########################################################
### Header Section 
#########################################################*/
#section-header {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZDZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(160,214,239,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,214,239,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(160,214,239,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(160,214,239,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(160,214,239,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(160,214,239,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d6ef', endColorstr='#007db9e8',GradientType=0 ); /* IE6-8 */
}

/**************************************************
*** Menu Zone
**************************************************/
#zone-menu-wrapper {
  background: #000; 
  color: #fff;
  min-height: 35px;
}
#region-menu {padding: 7px 0 3px 0;}

#region-menu li {
  text-transform: uppercase;
  font-size: 80%;
  padding: 0 5px 0 7px;
  margin: 0;
  border-right: 1px solid #fff;
}
#region-menu li a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
#main-menu li.first {
  border-left: 1px solid #fff;
  padding-left: 5px;
}
#secondary-menu li.first {padding-left: 2px;}
.region-menu-inner {
	text-align: center;
	padding: 0;
}

/**************************************************
*** Header Zone
**************************************************/
#zone-header-wrapper {
  min-height: 110px; 
  background: url(images/header-mobile-320.png) no-repeat center top;
}

@media only screen 
and (min-width : 321px) {
 #zone-header-wrapper {min-height: 165px; background: url(images/header-mobile-480.png) no-repeat center top;}
}

.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: none;
}


/*#########################################################
### Content Section 
#########################################################*/
#section-content {background: #fefefe url(images/map-500.jpg) no-repeat center bottom;}

@media only screen 
and (min-width : 499px) {
  #section-content {background: #fefefe url(images/map-800.jpg) no-repeat center bottom;}
}

/**************************************************
*** Content Zone
**************************************************/
#zone-content {}
.zone-content {
  color: #000;
  background: #fff;
  border: 5px solid #000;
  border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 0;
  -moz-box-shadow:    4px 4px 4px rgba(50, 50, 50, 0.3);
  box-shadow:         4px 4px 4px rgba(50, 50, 50, 0.3);
  position: relative;
  z-index: 10;
}

.region-content-inner, 
.region-second-level-menu-inner,
.region-sidebar-first-inner,
.region-sidebar-second-inner {
	padding: 20px 10px;
}

#block-views-tweets-block {
  background: #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#block-views-tweets-block .views-row {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
}

#block-views-tweets-block h2 {
  color: #000;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#block-views-tweets-block ul li {
  margin: 0;
}

.tweet-text {font-size: 90%; margin-bottom: 5px;}

.tweet-time {font-size: 83%; letter-spacing: .02em;}

#block-views-commerce-cart-block-block-1 {
  background: #ccc;
  font-size: 90%;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 8px;
  margin-bottom: 30px;
}
/*
#block-views-commerce-cart-block-block-1 .line-item-summary,
#block-views-commerce-cart-block-block-1 h2.block-title  {color: #fff;}
*/

#block-views-commerce-cart-block-block-1 table {
  font-size: 90%;
  line-height: 100%;  
}


#region-second-level-menu ul li {
  display: inline;
}

#region-second-level-menu li {
  text-transform: uppercase;
  font-size: 102%;
  font-weight: 800;
  margin: 0 5px 0 0;
  padding-right: 10px;
  border-right: 2px solid #000;
}

#region-second-level-menu li.first {
  border-left: 2px solid #000;
  padding-left: 10px;
}

#region-second-level-menu li .active {
  color: #1aa75d;
}


/**************************************************
*** Postscript Zone
**************************************************/
#zone-postscript {margin: 40px auto;}
.zone-postscript {
  color: #fff;
  background: #004FA8;
  border: 5px solid #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 0; /* add padding on region inners */
  -moz-box-shadow:    4px 4px 11px rgba(50, 50, 50, 0.4);
  box-shadow:         4px 4px 11px rgba(50, 50, 50, 0.4);
  min-height: 300px;
}


/**************************************************
*** Footer Zone
**************************************************/
#zone-footer-wrapper {
  background: #000; 
  color: #fff;
}
#zone-footer {min-height: 40px;}
#region-footer-first {padding: 10px 0;}



/**************************************************
*** Node Specific
**************************************************/

.node-promoted.node-not-sticky {
	background: #efefef;
	padding: 15px;
	border-radius: 10px;
	margin: 10px 0 30px 0;
}

/*
.node-page.node-promoted {
  border-bottom: none;
}
*/



.node-sticky {
	color: #fff;
	background: #1aa75d;
	padding: 15px;
	border-radius: 10px;
	margin: 0 0 30px 0;
}
.node-sticky h2.node-title,
.node-sticky h2.node-title a {
	color: #fff;
  font-size: 160%;
  line-height: 102%;
}
.node-sticky h2.node-title a:hover {
	color: #000;

}
.node-sticky #edit-submit {
	color: #000;
	background: #fff;
}
.node-sticky #edit-submit:hover {
	color: #1aa75d;
  background: #eee;
}

.node-readmore {
  float: right;
}

.node-links {margin-top: 20px;}

.node-links ul.inline li {
  padding: 0;
  margin: 0;
}


/**************************************************
*** Shopping Cart Page
**************************************************/




.line-item-quantity {margin-left: 5px;}

.line-item-total {margin-bottom: 20px;}

.view-id-commerce_cart_form {margin-top: 20px;}
