/*** mobile first layout + global styles ***/


/**************************************************
*** text and body
**************************************************/
body {
  font-family: "expressway",sans-serif;
  font-size: 100%;
  line-height: 120%;
  letter-spacing: .07em;
  word-wrap: break-word;
}
dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}
p {
  margin-bottom: 15px;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "expressway", sans-serif;
  color: #000;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h1 {
  font-size: 230%;
  font-weight: 700;
}
h2 {
  font-size: 180%;
  color: #000;
  font-weight: 800;
}
h3 {
  font-size: 170%;
}
h4 {
  font-size: 115%;
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #000;
}
p {
  font-size: 100%;
}
a,
a:link,
a:visited {
/*   color: #1aa75d; */
  color: #b00;
  text-decoration: none;
}
a:hover {text-decoration: underline;}

h2.block-title {
  color: #fff;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2.node-title {
  font-size: 200%;
  font-weight: 800;
  color: #000;
}

h2.node-title a {
  color: #000;
}

h2.node-title a:hover {
  color: #b00;
  text-decoration: none;
}


h1#page-title {
 font-size: 260%;
 color: #fff;
 padding: 0 0 10px 10px;
}
.tabs {
  padding: 10px 0 30px 0;
}

/**************************************************
*** tables
**************************************************/
table {
  border: 1px solid #CCC;
  width: 100%;
  font-size: 95%;
}
thead th, th {
  background: #1aa75d;
  border-bottom: 1px solid #ccc;
  color: #fff;
}
th, td {
  padding: 5px;
  vertical-align: top;
}
th a, th a:link, th a:visited {
  text-decoration: none;
}
th a {
  display: block;
}
th a img {
  margin: 0 0 0 5px;
}
th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
tr.even td {
  background: #efefef;
}
tr.odd td {
  background: #fff;
}
td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
tr.even td.active {
  background: #e7e7e7;
}
tr.odd td.active {
  background: #e7e7e7;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #efffef;
}
td ul.links {
  margin-bottom: 0;
}

/**************************************************
*** buttons
**************************************************/
#edit-checkout,
#edit-preview,
#edit-reset,
#edit-submit,
#edit-preview-changes,
#edit-delete,
.form-submit,
input.form-submit,
.node-readmore,
#block-views-commerce-cart-block-block-1 .line-item-summary li a {
  background: #1aa75d;
  font-size: 70%;
  text-transform: uppercase;
  text-shadow: none;
  margin-top: 20px;
  padding: 6px 10px 5px 10px;
  display: inline;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#edit-checkout:hover,
#edit-preview:hover,
#edit-reset:hover,
#edit-preview-changes:hover,
#edit-delete:hover,
#edit-reset:hover,
#edit-submit:hover,
.form-submit:hover,
input.form-submit:hover,
.node-readmore:hover,
#block-views-commerce-cart-block-block-1 .line-item-summary li a:hover  {
  text-decoration: none;
  background: #179151;
}
#edit-checkout:active,
#edit-preview:active,
#edit-reset:active,
#edit-preview-changes:active,
#edit-delete:active,
#edit-reset:active,
#edit-submit:active,
.form-submit:active,
input.form-submit:active,
.node-readmore:active {
  background: #147b45;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
  box-shadow: 0px 1px 1px #999 inset;
}


/**************************************************
*** pagers
**************************************************/
.item-list .pager {margin: 20px 20px 10px 0;}

.item-list .pager li,
.item-list .pager ul li,
.item-list .pager li.pager-current {
  display: inline-block;
  margin: 3px;
  padding: 0px;
}
.item-list .pager li.pager-ellipsis,
.item-list .pager li.pager-current,
.item-list .pager li a {
	font-weight: 600;
}
.item-list .pager li a,
.item-list .pager ul li a,
.item-list .pager li.pager-current {
	font-size: 82%;
	text-transform: uppercase;
    padding: 3px 8px;
    background: #efefef url(images/button.png) repeat-x bottom;
    color: #000;
    font-weight: 600;
    border-top: 1px solid #bbb;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #bbb;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.item-list .pager li a:hover {
	background-position: 0 -48px;
	text-decoration: none;
}
.item-list .pager li a:active {
	background-position: 0 top;
    position: relative;
    border: #777 solid 1px;
    background: #eee url(images/button.png) repeat-x bottom;   
 	-webkit-box-shadow: 0px 1px 1px #999 inset;  
 	-moz-box-shadow: 0px 1px 1px #999 inset;  
 	box-shadow: 0px 1px 1px #999 inset;
}
.item-list .pager li.pager-current {
	color: #fff;
	background: #1aa75d url(images/button.png) repeat-x bottom;
	border: 1px solid #1aa75d;
	padding: 1px 8px 0 8px;
}

/*#########################################################
### Header Section 
#########################################################*/
#section-headerx {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YjNkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(116,179,219,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(116,179,219,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(116,179,219,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(116,179,219,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(116,179,219,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(116,179,219,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b3db', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

/**************************************************
*** Menu Zone
**************************************************/
#zone-menu-wrapper {
  background: #000; 
  color: #fff;
  min-height: 35px;
}
#region-menu {padding: 5px 5% 5px 0;}

#region-menu li {
  text-transform: uppercase;
  font-size: 80%;
  margin: 5px 0;
  display: inline-block;
}
#region-menu li a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 4px 7px;
  background: #444;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
#region-menu li a:hover {
  background: #666;
}
.region-menu-inner {
  text-align: center;
}


/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	color: #fff;
	text-transform: uppercase;
	font-stretch: narrower;
	font-size: 175%;
	z-index: 99;
	margin: 35px 0 0 15px;
}
#logo-text a {
	color: #fff;
	text-decoration: none;
}
#zone-header-wrapper {
  min-height: 110px; 
  background: url(images/header-mobile-320.png) no-repeat center top;
  margin-top: -55px;
}

@media only screen 
and (min-width : 321px) {
   #logo-text {
	color: #fff;
	text-transform: uppercase;
	font-stretch: narrower;
	z-index: 99;
	margin: 50px 0 0 14%;
  }
}
@media only screen 
and (min-width : 400px) {
   #logo-text {margin: 50px 0 0 18%;}
}
@media only screen 
and (min-width : 450px) {
   #zone-header-wrapper {
     min-height: 165px; background: url(images/header-mobile-480.png) no-repeat center top;
     margin-top: -82px;  
   }
   #logo-text {
	color: #fff;
	text-transform: uppercase;
	font-stretch: narrower;
	font-size: 260%;
	z-index: 99;
	margin: 50px 0 0 7%;
  }
}
@media only screen 
and (min-width : 510px) {
   #logo-text {margin: 50px 0 0 10%;}
}
@media only screen 
and (min-width : 530px) {
   #logo-text {margin: 50px 0 0 13%;}
}
@media only screen 
and (min-width : 570px) {
   #logo-text {margin: 50px 0 0 15%;}
}
@media only screen 
and (min-width : 600px) {
   #logo-text {margin: 50px 0 0 17%;}
}
@media only screen 
and (min-width : 630px) {
   #logo-text {margin: 50px 0 0 20%;}
}
@media only screen 
and (min-width : 700px) {
   #logo-text {margin: 50px 0 0 22%;}
}

.region-preface-first,
.region-header-second,
.region-header-third,
.region-header-fourth {
  display: none;
}

/*#########################################################
### Content Section 
#########################################################*/
/**************************************************
*** Content Zone
**************************************************/
#zone-content {}
.zone-content {
  color: #000;
  background: #1aa75d;
  border: 5px solid #fff;
  border-radius: 24px;
  -moz-border-radius: 20px;
  padding: 0;
  box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.5);
  position: relative;
  z-index: 10;
}
.region-content-inner, 
.region-second-level-menu-inner,
.region-sidebar-first-inner,
.region-sidebar-second-inner {
	padding: 20px 10px;
}

.region-sidebar-second-inner table {
  color: #000;
}

.region-sidebar-second a.register-now {
  background: url(images/register-red.png);
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  display: block;
  text-indent: -9999px;
}

.not-front .region-content-inner .block-without-title {
	padding: 20px;
	border-radius: 15px;
	margin: 10px 0 30px 0;
	background: #fff;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

.not-front .region-content-inner .tabs {
  border: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.not-front .region-content-inner .tabs li a {
  border-radius: 6px 6px 0 0;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
  padding-top: 2px;
  padding-bottom: 3px;
}

.not-front .region-content-inner .block-without-title {
  margin-top: 3px;
  position: relative;
}

#block-views-tweets-block,
#block-user-login,
#block-system-user-menu,
#block-views-commerce-cart-block-block-1 {
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 30px;
  background: #222;
  color: #fff;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
#block-views-tweets-block .views-row {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
}
#block-views-tweets-block h2 {
  color: #fff;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#block-views-tweets-block ul li {
  margin: 0;
}
.tweet-text {font-size: 90%; margin-bottom: 5px;}

.tweet-time {font-size: 83%; letter-spacing: .02em;}

#block-views-commerce-cart-block-block-1 table {
  font-size: 90%;
  line-height: 100%;  
}

#region-second-level-menu {margin-top: 5px; margin-bottom: 5px;}

#region-second-level-menu ul li {
  text-transform: uppercase;
  font-size: 102%;
  font-weight: 800;
  margin: 5px 5px 0 0;
  display: inline;
}

#region-second-level-menu ul li a {
  color: #000;
  background: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

#region-second-level-menu li .active {
  color: #fff;
  background: #000;
  text-decoration: none;
}

#region-second-level-menu li a:hover {
  color: #fff;
  background: #222;
  text-decoration: none;
}

#page {
	position: relative;
}


/**************************************************
*** Postscript Zone
**************************************************/
#zone-postscript {margin: 40px auto;}
.zone-postscript {
  color: #fff;
  background: #004FA8;
  border: 5px solid #fff;
  border-radius: 24px;
  padding: 0; /* add padding on region inners */
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

/**************************************************
*** Footer Zone
**************************************************/
#zone-footer-wrapper {
  background: #000; 
  color: #fff;
  margin: 0;
}
#zone-footer {min-height: 40px;}
#region-footer-first {padding: 10px 0;}

/**************************************************
*** Node Specific
**************************************************/
.front .node-promoted.node-not-sticky {
	padding: 20px;
	border-radius: 15px;
	margin: 10px 0 30px 0;
	background: #fff;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
.front .node-promoted.node-sticky {
	background: #eee;
	padding: 15px;
	border-radius: 15px;
	margin: 0 0 30px 0;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
.node-readmore {
  color: #fff;
  float: right;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
}
.node-readmore a {
  font-size: 110%;
  color: #fff;
  text-decoration: none;
  padding: 4px 10px;
  display: block;
  
}

.node-links {margin-top: 20px;}

.node-links ul.inline li {
  padding: 0;
  margin: 0;
}
.node-news .submitted {margin: 20px 0 10px 0;}

/**************************************************
*** Shopping Cart Page
**************************************************/

.line-item-quantity {margin-left: 5px;}

.line-item-total {margin-bottom: 20px;}

.view-id-commerce_cart_form {margin-top: 20px;}




/**************************************************
*** sponsors postscript and page view
**************************************************/

.view-id-Sponsors.view-display-id-page_1 .views-row.views-row-last {
	margin-bottom: 30px;
}

.view-id-Sponsors.view-display-id-page_1 h3 {margin: 40px 0 10px 0;}

.view-id-sponsorship_benefits table {border: none;}

.view-id-sponsorship_benefits tr.even td,
.view-id-sponsorship_benefits tr.even td:hover,
.view-id-sponsorship_benefits tr.odd td,
.view-id-sponsorship_benefits tr.odd td:hover,
.view-id-sponsorship_benefits td,
.view-id-sponsorship_benefits tr,
.view-id-sponsorship_benefits td:hover,
.view-id-sponsorship_benefits tr:hover td {
  background: none;
}

.view-id-sponsorship_benefits .col-1 {
  padding-right: 40px;
}

.view-id-sponsorship_benefits .col-2 {
  padding: 0 20px;
}

.view-id-sponsorship_benefits tr td{
  padding-bottom: 40px;
}

.view-id-sponsorship_benefits tr.row-last td {
  padding-bottom: 0;
}

.view-id-sponsorship_benefits .commerce-add-to-cart {margin: 2px 0 20px 0;}

.view-id-sponsorship_benefits table li {
	list-style-position: outside;
	margin-left: 20px;
}

.view-id-sponsorship_benefits table li p {
  margin-bottom: 5px;
  line-height: 110%;
}




.region-postscript-first-inner {

}

.region-postscript-first-inner h2 {
  text-align: center;
}


.region-postscript-first-inner .views-field-field-logo .field-content {
  float: left;
  padding: 15px;
  margin: 0 10px;
  border-radius: 6px;
  border: 3px solid #fff;
  background: #fff;
  height: 60px;
}

.region-postscript-first-inner .views-field-field-logo .field-content img {

}


.region-postscript-first-inner .block-sponsors-block-2,
.region-postscript-first-inner .block-sponsors-block-3 {
  float: left;
  margin: 30px;
}

/**************************************************
*** staff page ---- still need to work on this for smaller screens
**************************************************/

.view-id-attendees.view-display-id-page_2 table  {
	width: 100%;
}

.view-id-attendees.view-display-id-page_2 table td {
	padding: 5px;
}






/**************************************************
*** sessions pages styles go here
**************************************************/

.view-id-sessions li {
	list-style-type: none;	
}




