/*** 960 layout, will override other two layouts ***/ 
/* use individual media queries if a wider breakpoint is needed for any item */

body {
  background: url(images/map-1300.jpg) no-repeat center bottom fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;  
}

@media only screen 
and (min-width: 1200px) {
  body {background: url(images/map-1600.jpg) no-repeat center bottom fixed;}
}

@media only screen 
and (min-width: 1620px) {
  body {background: url(images/map-full.jpg) no-repeat center bottom fixed;}
}

/*#########################################################
### Header Section 
#########################################################*/
/**************************************************
*** Header Zone
**************************************************/
#logo-text {
	font-size: 490%;
	margin: 75px 0 0 105px;
}
#zone-header-wrapper {
  background: url(images/header-960.png) no-repeat center top;
  min-height: 440px;
  margin-top: -142px;
}
.region-preface-first { /* sessions sign */
  margin-top: -235px;
}
.region-header-second { /* location sign */
  margin-top: 340px;
}
.region-header-third { /* about sign */
  margin-top: 347px;
}
.region-header-fourth{ /* sponsors sign */
  margin-top: 290px;
}

/* adjusted for firefox */
.ff .region-header-second { /* location sign */
  margin-top: 205px;
  z-index: 10;
}
.ff .region-header-third { /* about sign */
  margin-top: 215px;
}
.ff .region-header-fourth { /* sponsors sign */
  margin-top: 160px;
}

/*#########################################################
### Content Section 
#########################################################*/
/**************************************************
*** Content Zone
**************************************************/
#zone-content {min-height: 600px; margin-top: -10px;}













